.candle-chart-container {
    -fx-background-color: BLACK;
}
.candle-chart-toolbar {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0.0 8.0 0.0 0.0;
}
.candle-chart-toolbar-button {
    -fx-font-weight: bold;
}
.candle-chart-toolbar-button .glyph {
    -fx-padding: 5.0 10.0 5.0 10.0;
}
.candle-chart-toolbar-button:active {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, #64B5F6;
}
.candle-chart .axis {
    -fx-background-color: BLACK;
    -fx-tick-label-fill: rgb(204, 204, 197);
}
.candle-chart .axis:right, .candle-chart .axis:left {
    -fx-minor-tick-visible: false;
}

// Market Depth Chart

.default-color0.chart-series-area-line {
    -fx-stroke: rgb(64, 175, 59);
}
.default-color1.chart-series-area-line {
    -fx-stroke: rgb(204, 20, 20);
}
.default-color0.chart-series-area-fill {
    -fx-fill: rgba(50, 137, 46, 0.8);
}
.default-color1.chart-series-area-fill {
    -fx-fill: rgba(153, 15, 1, 0.8);
}
.chart-series-area-line {
    -fx-stroke-width: 2px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #060;
}

/*
 * Formatting the header area
 */

header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Center the body content
 */

.container {
  width: 1200px;
  margin: 0 auto;
}

div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #444;
  text-decoration: none;
}